<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:$(TAXI_ASSOCIATED_DOMAIN)/invite</string>
		<string>applinks:$(ARA_ASSOCIATED_DOMAIN)/post</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.org.sparcs.soap</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)org.sparcs.soap</string>
	</array>
</dict>
</plist>
